venv/
__pycache__/
*.py[cod]
*.pyo
.Python
.env
.venv/
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/
.ruff_cache/

.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries/
.idea/shelf/

.agents/
